tr {
    background: lightcoral;
}

tr.answered {
    background: lightgreen;
}

table {
    border-collapse: collapse;
}

td,
th {
    padding: 3px;
    border: 1px solid black;
}

th {
    background: bisque;
}